<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th scope="col">Số thứ tự</th>
    <th scope="col">Người mượn</th>
    <th scope="col">Ngày mượn</th>
    <th scope="col">Trạng thái</th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="p : ${list}" th:attr="data-href=@{/details/{id}(id=${p.id})}" th:onclick="'window.location.href=' + ${'\'/details/\' + p.id} + '\';'">
    <td th:text="${p.id}"></td>
    <td th:text="${p.idReader}"></td>
    <td th:text="${p.ngayMuon}"></td>
    <td th:text="${p.tinhTrang == true ? 'Đã duyệt' : 'Chưa duyệt'}"></td>
    <td th:if="${not p.tinhTrang}"><a class="" href="#">Duyệt</a></td>
    <td th:if="${p.tinhTrang}"></td>
    <td th:if="${not p.tinhTrang}"><a class="" href="#">Xóa</a></td>
    <td th:if="${p.tinhTrang}"></td>
  </tr>
  </tbody>
</table>

</body>
</html>